body{
	background: white;
	width: 100%;
	margin: 0px;
	font-family: sans-serif;
}
.header{
	background: white;
	margin-right: 0px;
	margin-left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 70px;
	height: 9.44%;
	/*background-color: red;*/
}
.logo_img{
	margin-left: 8.1%;
	margin-top:10px;
	width: 50px;
	display: inline-block;
}
.logo_img img{
	width: 50px;
	display: inline-block;
	height: 100%; 
}
.logo_txt{
	color: green;
	font-size: 100%;
	display: inline-block;
	height: 21px;
}
.logo_txt_alcher{
	color: grey;
	font-size: 29px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -3% ;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.logo_txt_alcher samp{
	color: #FF5D42;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.nav_bar{
	/*background-color: green;*/
	width: 90%;
	margin-top: 100px;
	margin-left: 10%;
	margin-bottom: 50px;

}
.nav_bar p{
	display: inline-block;
	left: 12%;
	font-size: 160%;
}
.nav_bar a{
	position: absolute;
	opacity: 0.5;
	left: 79%;
	color: black;
	font-size: 100%;
}
.nav_bar a img{
	width: 10%;
	margin-right: 8px;
}
.all_posts{
	width: 90%;
	margin-left: 4.9%;
	/*background-color: green;*/
}


.all_posts .post{
	/*background-color: red;*/
	max-width: 23% ;
	box-shadow: 0px 0px 2px 3px  #C8C7C7 ;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 40px;
	display: inline-block;
	vertical-align: top;
}
@media(max-width: 1000px){
	.all_posts .post{/*
		margin-left: 7%;
		margin-right: 7%;*/
		max-width: 38% ;
	}
	
}
.post_img{
	padding-bottom:0px ;
	margin-bottom: 0px ;
}
.post_img img{
	width: 100%;
}
.like_button{
	margin-left: 8%;
}
.post_responces{
	margin-top: -4px;
	height: 45px;
	background-color: white;
}
.post_responces .like_button{
	width: 60%;
	margin-left: 5px;
	margin-top: 0px;
	display: inline-block;

}
.post_responces .like_button button{
	width: 27%;
	margin: 6px;
	background: transparent;
	border-color: transparent;
	display: inline-block;
	cursor: pointer;
	margin-right:-3px;
}
.post_responces button img{
 	width: 75%;
 	margin-bottom: 0px;
}
.post_responces .like_button a{
	display: inline-block;
	margin-right: 0px;
	margin-top: 8.4%;
	padding-bottom: 10px;
	vertical-align: top;
	color: black;
	font-weight: 200;	
}
