{%load static%}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css_file/logout_page.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Loged Out | Alcheringa Connect</title>
</head>
<body>
	<div class="header">
		<div class="content">
			<div class="logo">
				<div class="logo_img">
					<img src="{% static 'sign_logo/logo.png' %}" >
				</div>
				<div class="logo_txt">
					<p class="logo_txt_alcher">Alcheringa <samp>Connect</samp></p>
				</div>
			</div>
		
		<div class="about_alcher">
			<p>Alcheringa connec lets you associate with the people in your life</p>
		</div>
		</div>
	</div>
	<div class="vl">

	</div>
	<div class="logout_status">
		<h3 class="suscess">Successfully Logged Out</h3>
		<p class="new_login">Click <a href="{% url 'project-login' %}">here</a> to Login</p>
	</div>
</body>
</html>